

*{
    margin: 0;
    padding: 5px;
}

body{
    background-color: azure;
}
span{
    color: gray;
}
.addBtn{
    background-color: green;
    color: white;
    padding: .5rem 2rem;
    border: none;
    border-radius: 10px;
}

@media  (max-width: 600px) {
    .h1{
       
        width: 200vw;
       
    }
}